<h1>Hello, <%= @user.name %></h1>
<div>
	<%= link_to("Edit Profile", edit_user_path) %>
</div>
<div>
	<h2>Profile Information</h2>
	<div>Name: <%= @user.name %></div>
	<div>Email: <%= @user.email %></div>
	<div>Member Since: <%= @user.created_at %></div>
</div>
<div>
	Content Placeholder
</div>
<div>
	Content Placeholder
</div>
<div>
	<%= button_to('Delete Account', user_path(@user), method: :delete, data: { confirm: "Are you sure?", disable_with: "loading...." }) %>
</div>
